{% extends 'shema.html' %}
{% block podnaslov %}DOBRODOŠLI{% endblock %}
{% block vsebina %}
    <div style="text-align: left;">
    <p>
     Dobrodošli na najini spletni strani.
     <br>
     Za projekt pri programerskem krožku bova bova naredila spletno aplikacijo, ki ti bo na Messenger pošiljala citate profesorjev. Sam boš lahko izbral profesorja in kolikokrat na teden želiš dobivati citate.   
    </p>
    <p>Da bova lahko izvedla projekt potrebujeva vašo pomoč. Prosila bi da nama pošljete čimveč citatov profesorjev. Če želite poslati citat se prosim registrirajte na najini strani, lahko tudi preko Googla, Facebooka in Twitterja. Če vam je lažje, nama lahko citate pošljete tudi na zs.
    </p>
    <br>
    <br>
    <br>
    <p>
     <b>Daniel Blažič, Luka Peršolja</b>
    </p>
    <p>
        <form method="POST" id="citat_id">
            <select name="profesor">
            {%for id,prof in session['profs']%}
              <option value="{{id}}">{{prof}}</option>
            {% endfor %}
            </select>
        <br>
        <textarea rows="6" cols="50" name="citat" form="citat_id" placeholder="Tukaj vpiši citat">
        </textarea>
        <br>
        <input type="submit" value="Pošlji"> 
        </form>
    </p>
    </div>
{% endblock %}

